.footerWrapper{
    background-color: #4c4c4c;
    width: 100%;
    margin-top: 200px;
}
.footerWrapper .pageFooter{
	width: 1000px;
	height: 120px;
	line-height: 120px;
	color: #ffffff;
	font-size: 14px;
	margin: 0 auto;
	text-align: center;
}
