<div class="dialogWrapper">
	<div class="dialogMask" action-type="closeDlg">
		
	</div>
	<div class="dialog">
		<div class="dialogHeader">
			<h2 node-type="dialogTitle"></h2>
		</div>
		<div class="dialogSummary">
			<p node-type="dialogSummary"></p>
		</div>
		<div class="dialogContent clearfix">
			<div class="dialogPic">
				<img node-type="dialogSrc"/>
			</div>
			<div class="dialogText">
				<span node-type="dialogText"></span>
			</div>
		</div>
		
		<div class="dialogClose">
			<a href="javascript:void(0)" title="关闭对话框" action-type="closeDlg">
				<em></em>
			</a>
		</div>
	</div>
</div>